.btn-orange{
    background-color: rgb(255, 153, 51);
    
}

.w-27{
    width: 27%;
}

.bg-violet{
    background-color: violet;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  padding: 10px;
}

/* Cambiar el color de los indicadores a negro */
.carousel-indicators [data-bs-target] {
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 6px;
}

/* Opcional: hacer que los indicadores sean más visibles */
.carousel-indicators {
  bottom: 20px;
}